/* *{
    margin: 0;
    border: 0;
    padding: 0;
} 
 */
html {
  background-color: black;
  }
body {
  display: table;
  background-color: #333333;
  width: 75%;
  margin: 20px auto;
}

header {
  text-align: center;
  margin: 10px auto 10px auto;
  padding-top: 10px;
  width: 40%;
}
h1{
  color: #e9e9e9;
 font-size:200%;
}
legend{
  text-align: center;
}
li{
   list-style:none; 
}


.imgs {
  width: 200px;
  height: 100px;
  margin: auto;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto auto 50px auto;
  border: 3px solid #e9e9e9;
  border-radius: 15px;
  padding: 20px;
  background-color:#e9e9e9;

  
}

.formulario,
.resultados {
  display: table; /*Evita el desbordamiento del div*/
  width: 30%;
  border: 3px #333333 ridge ;
  padding: 10px;
  margin: 0 10px;
  background-color:#f05ab1;
  color: rgb(255, 255, 255);
 

  /* margin-bottom: 500px; */
}
.formulario {
  border-radius: 25px;
  margin-left: 15%;
}
.resultados {
    margin-right: 15%;
}

.footer {
  text-align: center;
  font-size: 80%;
  background-color: brown;
  color: white;
  border-radius: 15px;
  width: 50%;
  margin:auto;
}

.boton {
  margin-top: 10px;
  border-radius: 5px;
  border-color: #333333;
  background-color:#333333;
  color:#e9e9e9
  /* margin: 10px 50px; */
}
.negrita{
  font-weight: bolder;
}
  